/**************** basic rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* style header - box on top with logo  */
#box-top {
  height: 120px;
  line-height: 120px;
}

#logo {
  height: 80px;
  margin: 20px 20px 20px 30px;
  vertical-align: middle;
}

#title {
  display: inline-block;
  font-weight: bold;
  font-size: 45px;
  line-height: 120px;
  vertical-align: middle;
}

/* style main top - add task and section  */
main {
  background-color: rgb(240, 240, 240);
  padding-top: 50px;
}

#main-top {
  background-color: white;
  width: 70%;
  margin: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 5px;
}

.main-button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
}

#task-button {
  background-color: rgb(80, 162, 255);
  color: white;
  margin: 20px 5px 15px 50px;
}

#section-button {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(220, 220, 220);
}

/* style main bottom - new task section */
#main-bottom {
  background-color: white;
  width: 70%;
  margin: auto;
}

#nt-section {
  padding: 40px 50px;
}

.section-title {
  font-size: 30px;
  margin-bottom: 8px;
}

.text {
  color: rgb(80,80,80);
}

.row{
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  font-size: 20px;

}

.positive-icon {
  border: 2px solid rgb(111, 212, 111);
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
  color:rgb(111, 212, 111);
  vertical-align: middle;
  margin-right: 10px;
}

.negative-icon {
  border: 2px solid rgb(218, 81, 81);
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
  color:rgb(218, 81, 81);
  vertical-align: middle;
  margin-right: 10px;
}

.section-button {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  margin-left: 8px;
  color: white;
}

.blue-b {
  background-color:rgb(80, 162, 255);
}

/* style main bottom - today section */
#today-section{
  margin: 0 50px;
}

.purple-b {
  background-color: rgb(110, 97, 145);
}

.green-b {
  background-color: rgb(111, 212, 111);
}

.orange-b {
  background-color: lightsalmon;
}

/* style main bottom - upcoming section */